<h2><%= title %></h2>

<table border="1">
  <thead>
    <tr>
      <th>Emp Code</th>
      <th>Employee Name</th>
      <th>Project</th>
      <th>Practice</th>
      <th>Date</th>
      <th>Hours</th>
    </tr>
  </thead>
  <tbody>
    <% assignedEmployees.forEach(assign => { %>
      <tr>
        <td><%= assign.employee?.empCode || 'N/A' %></td>
        <td><%= assign.employee?.name || 'N/A' %></td>
        <td><%= assign.project?.projectName || 'N/A' %></td>
        <td><%= assign.practice?.practiceName || 'N/A' %></td>
        <td><%= assign.date ? assign.date.toISOString().split('T')[0] : 'N/A' %></td>
        <td><%= assign.hours || 'N/A' %></td>

      </tr>
    <% }) %>
  </tbody>
</table>
